<!DOCTYPE html>
<html lang="pt-BR">

<head>

<meta charset="UTF-8">

<title>Calculadora</title>

<style>

body{

font-family:Arial;
text-align:center;
margin-top:100px;

}

input{

font-size:20px;
padding:10px;
width:200px;

}

button{

font-size:20px;
padding:10px;
margin:5px;

}

</style>

</head>

<body>

<h2>Calculadora</h2>

<input id="display" type="text">

<br><br>

<button onclick="calc(1)">1</button>
<button onclick="calc(2)">2</button>
<button onclick="calc(3)">3</button>

<br>

<button onclick="calc(4)">4</button>
<button onclick="calc(5)">5</button>
<button onclick="calc(6)">6</button>

<br>

<button onclick="calc(7)">7</button>
<button onclick="calc(8)">8</button>
<button onclick="calc(9)">9</button>

<br>

<button onclick="calc('+')">+</button>
<button onclick="calc('-')">-</button>
<button onclick="calc('*')">*</button>

<script>

function calc(v){

document.getElementById("display").value+=v

}

</script>

</body>
</html>